/* ******************************** CSS EN COMMUN ********************** */
* {
	box-sizing : border-box;
}
body {
    scroll-behavior: smooth;
    line-height: 1.15;
	margin : 0;
    font-family: 'Noto Sans Mono', monospace;
    font-size: 1.2em;
    background-color: whitesmoke;
}
h1, h2, h3 {
    margin: 0;
    padding: 1em;
    font-family: 'Crafty Girls';
    font-size: 1.8em;
    text-align: center;
}
a {
	text-decoration : none;
	font-weight : bold;
    color: crimson;
    padding: 1em;
}
p {
    padding: 1em;
    margin: 0;
}
img {
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 2.5px 2.5px 10px 2.5px rgba(0,0,0,50%);
}
header {
    position : relative;
    padding: 1em 0 2em;
    background-color: rgb(251, 249, 210);
    box-shadow: 2.5px 2.5px 10px 2.5px rgba(0,0,0,50%);
    display: flex;
    justify-content: flex-end;
}
nav a {
    padding-right: 4em;
}
header input[type="submit"] {
    font-weight: bolder;
    margin-right: 2em;
    color: crimson;
    background-color: inherit;
    border-width: 2px;
    border-style: none;
}
.logo {
    position : absolute;
    top : 0;
    left : 0.2em;
    font-family: 'Puppies Play', cursive;
    font-size: 5rem;
    background-color: rgb(251, 249, 210);
    color: crimson;
    border-radius: 50%;
    padding: 0.2em;
}
main {
	margin : 0;	
}
.user-connecte {
    font-weight: bolder;
    text-align: end;
}
section {
    padding: 1em;
}
footer {
    padding: 2em 0 1em;
    background-color: rgb(202, 199, 131);
    clip-path: polygon(0 30%, 100% 0%, 100% 100%, 0% 100%);
    display: flex;
    justify-content:center;
}
footer a {
    padding: 1em 2em;
}
/* ************************************** PAGE ACCUEIL */
.accueil_presentation {
   display: flex; 
   flex-wrap: wrap;
   align-items: center;
}
.accueil_presentation h1, .accueil_presentation h2 {
    flex-basis: 100%;
}
.accueil_presentation p, .accueil_presentation h2 {
    width: 50%;
}
.accueil_presentation img {
    width: 40%;
}
.accueil_inscription {
    width: 70%;
    margin: 1em auto;
    background-color: rgb(255, 247, 132);
    border-radius: 100px;
}
/* *********************************** PAGE INSCRIPTION */
.main-inscription {
    background-image: url(../img/inscription.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
}
.formulaire-inscription {
    width: 35%;
    margin: auto;
    background-color: rgb(255, 247, 132);
    box-shadow: 2.5px 2.5px 10px 2.5px rgba(0,0,0,50%);
    padding : 2em;
    border-radius: 25px;
}
.formulaire-inscription label {
    text-align: center;
}
.formulaire-inscription input {
    margin: 1em;
    width: 95%;
}
#button {
    background-color: rgb(255, 247, 132);
    padding: 1em;
    border-radius: 100px;
}
/* *********************************** PAGE CONNEXION */
.main-connexion {
    background-image: url(../img/connexion.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
}
.connectez-vous {
    height: 70vh;
}
.formulaire-connexion {
    width: 70%;
    margin : 0 auto 3em;
    padding: 3em;
    background-color: rgb(202, 199, 131);
    box-shadow: 2.5px 2.5px 10px 2.5px rgba(0,0,0,50%);
    border-radius: 100px;   
}
.tableau-connexion {
    width: 70%;
    margin: auto;
    border-collapse: collapse;
    box-shadow: 2.5px 2.5px 10px 2.5px rgba(0,0,0,50%);
}
.tableau-connexion thead {
    background-color: rgb(255, 247, 132);
}
.tableau-connexion th, .tableau-connexion td {
    padding: 0.5em;
    border: solid black;
}
.tableau-connexion td {
    background-color: rgb(251, 249, 210);
}
/* *********************************** PAGE PROFIL */
.main-profil {
    background-image: url(../img/profil.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
}
.formulaire-profil {
    width: 40%;
    margin : auto;
    padding: 3em;
    background-color: rgb(202, 199, 131);
    box-shadow: 2.5px 2.5px 10px 2.5px rgba(0,0,0,50%);
    border-radius: 100px;   
}
.formulaire-profil input{
    width: 90%;
    margin : auto;
    margin: 1em;
}
.formulaire-profil label {
    display: block;
    width: 100%;
    margin : auto;
    text-align: center;
}
#modifier {
    display: block;
    width: 50%;
    border-radius: 100px;
    padding: 0.5em 1em;
    margin : auto;
}
/* *********************************** PAGE ADMIN */
.main-admin {
    background-image: url(../img/admin.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
}
.tableau-admin {
    width: 50%;
    margin : auto;
    border-collapse: collapse;
    box-shadow: 2.5px 2.5px 10px 2.5px rgba(0,0,0,50%);
}
.tableau-admin thead {
    background-color: rgb(255, 247, 132);
}
.tableau-admin th, .tableau-admin td {
    padding: 0.5em;
    border: solid black;
}
.tableau-admin td {
    background-color: rgb(251, 249, 210);
}